<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>这是一封HTML邮件</h1>
        <hr>
        <!--必须设置完整的URL，即从https开始，否则邮件中点不开地址-->
        <a href="https://www.baidu.com">百度</a>
        <a href="https://www.jd.com">京东</a>
        <hr>

        <!--使用cid:来引用邮件中的附件-->
        <img src="cid:landscape.jpg"/>

        <h2>这是一个表格</h2>
        <table >
            <tr >
                <th>姓名</th>
                <th>年龄</th>
            </tr>
            <tr>
                <td>张三</td>
                <td>19</td>
            </tr>
            <tr>
                <td>张三</td>
                <td>19</td>
            </tr>
        </table>
    </body>
</html>